# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# VScode 
.vscode
.VSCodeCounter
# build
[Bb]uild/
sysyc

# ASM
*.s
*.ll

.gitee
test.cpp

# Other files and folders
.settings/
# Executables
*.swf
*.air
*.ipa
*.apk
# *.out
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
